@use '../common/variables' as *;
@use '../common/mixins' as *;


.mypage-layout {
  padding-top: 4rem;
  padding-bottom: 8rem;

  .inner {
    display: flex;
    gap: 4rem;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }
}

.mypage-sidebar {
  flex: 0 0 25rem;
  
  .sidebar-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
  }

  nav ul {
    border: 1px solid $color-border;
    border-radius: $border-radius-md;
    overflow: hidden;

    li {
      border-bottom: 1px solid $color-border;
      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        padding: 1.6rem 2rem;
        font-size: 1.6rem;
        color: $color-text;
        transition: all 0.2s;

        &:hover {
          background-color: $color-bg-alt;
        }
      }

      &.active a {
        background-color: $color-primary;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.mypage-content {
  flex: 1;
}