@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.home-page {
  width: 100%;
  background-color: #fff;
  padding-bottom: 10rem; /* 맨 하단 여유 공간 */

  /* 각 섹션 사이의 간격 */
  > section {
    margin-bottom: 12rem; 

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* ✅ [핵심] 히어로 섹션 하단 여백 확보 */
  /* 검색창이 히어로 이미지 밖으로 튀어나와 있으므로, 그만큼 마진을 줘야 아래 섹션(여행에 빠지다)과 겹치지 않습니다 */
  .hero-section {
    margin-bottom: 20rem; /* 검색창 높이 + 여유 공간 */

    @include respond-md {
      /* 모바일에서는 검색창이 세로로 길어지므로 더 많은 여백 필요 */
      margin-bottom: 35rem; 
    }
  }
}