@use '../../common/variables' as *;

.support-page {
  padding: 6rem 0;
  
  .page-heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
  }
}

/* FAQ 스타일 */
.faq-list {
  max-width: 80rem;
  margin: 0 auto;

  .faq-item {
    border-bottom: 1px solid $color-border;
    
    summary {
      padding: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
      list-style: none;
      position: relative;
      
      &:hover {
        background-color: $color-bg-alt;
      }
    }

    .faq-answer {
      padding: 2rem;
      background-color: $color-bg-light;
      color: $color-text-secondary;
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }
}

/* 공지사항 리스트 스타일 */
.notice-list {
  max-width: 100rem;
  margin: 0 auto;
  border-top: 2px solid $color-text;

  li {
    border-bottom: 1px solid $color-border;

    a {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      transition: background 0.2s;

      &:hover {
        background-color: $color-bg-alt;
      }

      .notice-title {
        font-size: 1.6rem;
        color: $color-text;
      }
      .notice-date {
        color: $color-text-muted;
        font-size: 1.4rem;
      }
    }
  }
}